.App {
  text-align: center;
  border: 1px solid rgb(187, 187, 187);
  width: 900px;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(187, 187, 187);
  border-radius: 20px;
  padding: 40px 70px 120px 70px;
  box-shadow: 5px 5px 15px 3px rgb(245, 243, 243);
  margin-bottom: 100px;
}

.todo-input {
  padding: 7px;
  width: 400px;
  font-size: 18px;
  outline: none;
}

.todo-button {
  padding: 12px;
  width: 100px;
  border: none;
  font-weight: bold;
  background-color: rgba(17, 17, 17, 0.89);
  color: #fff;
}

.todo-button:hover {
  cursor: pointer;
  background-color: black;
  color: #fff;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo {
  display: flex;
  margin-left: 50px;
}

.todo li {
  border: 1px solid rgb(153, 153, 153);
  list-style: none;
  width: 600px;
  background-color: rgb(221, 221, 221);
  padding: 11px;
}

.todo img {
  width: 20px;
}

.todo img:hover {
  cursor: pointer;
}